<!-- ================= HEADER ================= -->
<header class="header">

  <div class="logo">
    <img src="../images/logo/logo.svg" alt="logo">
    <span>UDAIPUR WILDLIFE SANCTUARY</span>
  </div>

  <div class="menu">
    <svg class="menu-icon" viewBox="0 0 40 40"
  stroke="#efe6d6" stroke-width="3"
  stroke-linecap="round" stroke-linejoin="round">
      <line x1="8" y1="12" x2="32" y2="12"/>
      <line x1="8" y1="20" x2="32" y2="20"/>
      <line x1="8" y1="28" x2="32" y2="28"/>
    </svg>
  </div>

</header>

<!-- MENU OVERLAY -->
<div class="menu-overlay" id="menu">

  <div class="menu-panel">

    <div class="menu-top">
      <img src="../images/logo/logo.svg" class="menu-logo">

      <div class="close-btn">✕</div>
    </div>

    <ul class="menu-list">
      <li onclick="goHome()">🏠 Home</li>
      <li id="menuBookingBtn"><span>🎫</span> Book Tickets</li>
      <li id="menuBoatingBtn"><span>🛶</span> Boating</li>
      <li id="menuEvBtn"><span>🚗</span> EV Cart</li>
      <li id="menuCycleBtn"><span>🚲</span> Bicycle Rental</li>
      <li id="menuAttractionBtn"><span>🌿</span> Attractions</li>
      <li id="menuEcoBtn"><span>🏕</span> Eco Stay</li>
      <li id="menuGalleryBtn"><span>🖼️</span> Gallery</li>
      <li><span>🧭</span> Plan Visit</li>
      <li id="menuLocationBtn">📍 Location & Timing</li>
      <li><span>🎟</span> Pricing</li>
      <li id="menuRulesBtn"><span>📄</span> Rules</li>
      <li><span>📞</span> Contact</li>
      <li><span>⚠️</span> Feedback</li>
      <li><span>ℹ️</span> About</li>
    </ul>

  </div>

</div>