<!-- ================= HEADER ================= -->
<header class="header" data-testid="site-header">

  <div class="logo" data-testid="site-logo">
    <img src="images/logo/logo.svg" alt="logo">
    <span>UDAIPUR WILDLIFE SANCTUARY</span>
  </div>

  <div class="menu" data-testid="header-menu-btn">
    <svg class="menu-icon" viewBox="0 0 40 40"
  stroke="#efe6d6" stroke-width="3"
  stroke-linecap="round" stroke-linejoin="round">
      <line x1="8" y1="12" x2="32" y2="12"/>
      <line x1="8" y1="20" x2="32" y2="20"/>
      <line x1="8" y1="28" x2="32" y2="28"/>
    </svg>
  </div>

</header>
